In [1]:
#Step 1. Import the necessary libraries

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
#Step 2. Import the dataset from this address.
#Step 3. Assign it to a variable called chipo.

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

#Step 4. See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [3]:
#Step 5. What is the number of observations in the dataset?

# Solution 1
chipo.info() #the number entries = observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [4]:
#solution 2

chipo.shape[0]

4622

In [5]:
#Step 6. What is the number of columns in the dataset?

chipo.shape[1]

5

In [6]:
#Step 7. Print the name of all the columns.

chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
#Step 8. How is the dataset indexed?

chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [8]:
a = chipo.head()
a

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [9]:
#Step 9. Which was the most-ordered item?

c = chipo.groupby('item_name').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(2)

                 order_id  quantity
item_name
Chicken Bowl       713926       761
Chicken Burrito    497303       591

In [10]:
#Step 10. For the most-ordered item, how many items were ordered?

print('For the most-ordered item, ordered were:',str(713926))

For the most-ordered item, ordered were: 713926

In [11]:
#Step 11. What was the most ordered item in the choice_description column?

d = chipo.groupby('choice_description').sum()
d = d.sort_values(['quantity'], ascending = False)
d.head(2)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159
[Coke]                122752       143

In [12]:
#Step 12. How many items were orderd in total?

total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

In [13]:
#Step 13. Turn the item price into a float
#Step 13.a. Check the item price type

chipo.item_price.dtype

dtype('O')

In [14]:
#Step 13.b. Create a lambda function and change the type of item price
try:
    dollarizer = lambda x: float(x[1:-1])
    chipo.item_price = chipo.item_price.apply(dollarizer)
    
except:TypeError

In [15]:
chipo.item_price.dtype

dtype('float64')

In [16]:
a

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [17]:
#Step 14. How much was the revenue for the period in the dataset?

revenue = (chipo['quantity'] * chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [18]:
# How many orders were made in the period?

orders = chipo.order_id.value_counts().count()
orders

1834

In [19]:
#Step 16. What is the average revenue amount per order?

# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
d = order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [20]:
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

In [21]:
#Step 17. How many different items are sold?

chipo.item_name.value_counts().count()

50